[Desktop Entry]
Name=Parsec
GenericName=Parsec
Comment=Simple, low-latency game streaming.
Exec=/usr/bin/parsecd %u
Icon=/usr/share/icons/hicolor/256x256/apps/parsecd.png
Terminal=false
Type=Application
Categories=Game;
X-XFCE-Source=file:///usr/share/applications/parsecd.desktop
